/* variables */

:root {
    /* primary colors */
    --Very-Dark-Magenta:  hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    /* neutral */
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --bg-color: #fcfcfc;
    /* font */
    --font-family: 'Spartan', sans-serif;
}


*,
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    font-family: var(--font-family);
}

/* mobile first */

body {
    min-width: 375px;
    text-align: center;
    background-color: var(--bg-color);
    background-image: url(../assets/images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
    padding: 0 24px 0 24px;
}

main {
    margin: 80px 0 47px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; 
}

main h1 {
    color: var(--Very-Dark-Magenta);
    font-size: 1.6875rem;
    font-weight: 700;
    width: 240px;
}

main p {
    color: var(--Dark-Grayish-Magenta);
    font-weight: 400;
    line-height: 1.6;
    margin-top: 24px;
}

.stars {
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    flex-direction: column;
}

.stars div {
    background-color: var(--Light-Grayish-Magenta);
    padding: 16px 0 18px 0;
    margin-bottom: 16px;
    border-radius: 10px;

    width: 100%;
}

div .star {
    display: inline-block;
    max-height: 16px;
    max-width: 17px;
}

.stars > div p {
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
    padding-top: 15px;
}

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    margin: 49px 0 90px 0;
    width: 100%;
    height: 100%;
}

.box-testimonials {
    background-color: var(--Very-Dark-Magenta);
    padding: 40px 34px 38px 32px;
    border-radius: 10px;
    margin: 8px 0 8px 0;
}

.box-testimonials > div {
    display: flex;
    line-height: 1.6;
}

.pfp {
    max-width: 38px;
    max-height: 39px;

    border-radius: 19px;
    margin: 0 23px 30px 0;
}

.testimonials-header > h3 {
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: left;
}

.testimonials-header > small {
    color: var(--Soft-Pink);
    font-size: 0.75rem;
    font-weight: 400;
    text-align: left;
}

.box-testimonials p {
    color: var(--Dark-Grayish-Magenta);
    text-align: left;
    line-height: 1.6;
    font-size: 0.9375rem;
    font-weight: 400;
}

@media (min-width: 992px) {

    body { 
        display: flex;
        justify-content: center;
        flex-direction: column;

        background-color: var(--bg-color);
        background-image: url(../assets/images/bg-pattern-top-desktop.svg), url(../assets/images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat;
        background-position:top 0 left 0, bottom 150% right -20% ;

        max-width: 100%;
        min-height: 100vh;
        padding: 100px 164px 100px 164px;

        position: fixed;     
    }

    /* .container {
        max-width: 100%;
        max-height: 100vh;
        padding: 100px 164px 100px 164px;

        position: fixed; 
        /* border: solid blue; 
        
    } */
    
    .showcase {
        display: grid;
        grid-template-columns: 40% 1fr;
        justify-content: space-between;
    }

    main {
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        /* flex-direction: column;  */
        max-width: 410px;
        max-height: 230px;
    } 

    main h1 {
        font-size: 1.8rem;
    }

    main p {
        font-size: 0.9rem;
        margin-top: 10px;
        margin-bottom: 75px;
    }

    .stars {
        display: flex;
        justify-content: flex-start;
        /* align-items: flex-end; */
        flex-direction: column;
        width: 475px;
        height: 50px;
        text-align: center;
    }

    .stars > div {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items:center;
        padding: 19px 20px 19px 20px;
        margin-left: 200px;
    }

    .stars > div p {
        padding: 0;
        font-size: 0.9rem;
    }

    .stars img {
        padding: 0;
    }

    .stars > div:nth-child(2) {
        transform: translateX(10%); /* or use margin left instead of transform and translate X or Y*/
    }

    .stars > div:nth-child(3) {
        transform: translateX(20%); /* or use margin left instead of transform and translate X or Y*/
    }

    .testimonials {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        justify-content:center;
        align-items: center; 
    }

    .box-testimonials {
        width: 100%;
        height: 230px;
    }

    .box-testimonials > p {
        font-size: 0.75rem;
        font-weight: 700;
        color: white;
    }

    .testimonials-header h3, small {
        font-size: 0.7rem;
        line-height: 1.4;
    }

    /* .testimonials >div:first-child {
        
    } */

    .testimonials > div:nth-child(2) {
        transform: translateY(10%); /* or use margin left instead of transform and translate X or Y*/
        
    }
    .testimonials > div:nth-child(3){
        transform: translateY(20%); /* or use margin left instead of transform and translate X or Y*/
        
    }
}



/* main, .desktop {
    margin: 80px 24px 70px 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

p {
    font-size: 0.9375rem;
}

.reviews {
    text-align: center;
}

.box-reviews {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: var(--Light-Grayish-Magenta);
    
    
    border-radius: 10px;

    width: 327px;
}

.box-reviews > .star {
    display: inline-block;
    max-height: 16px;
    max-width: 17px;
    
    /* transform: scale(0.05); 75% of original size 
    
}

.box-reviews p {
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
    padding-top: 15px;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: calc(49px - 16px);
}

.box-testimonials {
    width: 327px;

    background-color: var(--Very-Dark-Magenta);
    padding: 40px 34px 38px 32px;
    border-radius: 10px;
    margin: 8px 0 8px 0;
}

.box-header {
    display: flex;
}

.box-header img {
    display: block;
    max-width: 38px;
    max-height: 39px;

    border-radius: 19px;
    margin: 0 23px 30px 0;
}

.box-header div {
    line-height: 1.6;
}

.box-header div h2 {
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: left;
}

.box-header div h3 {
    color: var(--Soft-Pink);
    font-size: 0.75rem;
    font-weight: 400;
    text-align: left;
}

.box-testimonials p {
    color: var(--Dark-Grayish-Magenta);
    text-align: left;
    line-height: 1.6;
    font-size: 0.9375rem;
    font-weight: 400;
}


@media (min-width: 992px) {

    body {
    min-width: 100%;
    background-color: var(--bg-color);
    background-image: url(../assets/images/bg-pattern-top-desktop.svg), url(../assets/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position:top 0 left 0, bottom 115% right -20% ;

    position: fixed;
    border: solid blue;
    }

    main {
<<<<<<< HEAD
        min-width: 992px;
        margin: auto;
    }
    /* main {
        margin: 0;
        /* display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column; 

        border: solid red;
    } */

    /* main, .desktop {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: no-grid;
        /* justify-content:center; 
    } 

     .header {
        border: solid blue;
        align-self: start;
        text-align:left;
        width: 420px;
    }

    .reviews {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        text-align: center;
    }

    .box-reviews {
        display: flex;
        justify-content: space-around;
        flex-direction: row;

        background-color: var(--Light-Grayish-Magenta);
        padding: 16px 0 18px 0;
        margin-bottom: 16px;
        border-radius: 10px;

        width: 445px;
    }

    .box-reviews > .star {
        display: flex;
        max-height: 16px;
        max-width: 17px;
        
        /* transform: scale(0.05); 75% of original size 
        
    }

    .box-reviews p {
        font-weight: 700;
        color: var(--Very-Dark-Magenta);
        padding-top: 15px;
    }

    .testimonials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
=======
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

        border: solid red;
    }

    .desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

     .header {
        border: solid blue;
    }

    .header h1 {
    font-size: 1.6875rem;
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
    }

    .header p {
        color: var(--Dark-Grayish-Magenta);
        font-weight: 400;
        line-height: 1.4;

        margin: 24px 0 47px 0;
    } 
>>>>>>> f8ae08d7d698c133fb9d6ecc90c8049254ca88df
}